<footer class="flex flex-col md:flex-row justify-around items-center bg-[#29323F] text-white p-4 md:p-20">
 
  <div class="w-28 mb-6 md:mb-0">
    <img src="../../../assets/ils-academy-high-resolution-logo-white-transparent.png" alt="">
  </div>

  <div class="flex flex-col gap-10 md:flex-row">
    <div class="mr-8 mb-6 md:mb-0">
      <h3 class="font-semibold text-gray-500 mb-2">About ILS</h3>
      <p class="text-gray-400">Insightful Learning and Skill Academy <br> First Floor <br> Sana Tower <br> Medical College <br> Calicut </p>
    </div>
    <div class="flex gap-3 flex-col">
      <h3 class="font-semibold text-gray-500 mb-2">Contact Us</h3>
      <p class="text-gray-400 cursor-pointer"><a href="tel:+919061035557" class="flex gap-4"><i class="fa-solid fa-phone text-gray-500 text-xl"></i>Call Us</a></p>
      <p class="text-gray-400 cursor-pointer"><a href="https://wa.me/919061035558" class="flex gap-4"><i class="fa-brands fa-whatsapp text-gray-500 text-xl"></i>Whatsapp</a> </p>
      <p class="text-gray-400 "><a class="flex gap-4"><i class="fa-solid fa-envelope text-gray-500 text-xl"></i>ilsacademy.clt@gmail.com</a> </p>
    </div>
  </div>
</footer>

<!-- Additional content -->
<div class=" text-center bg-[#29323F]">
<!-- Horizontal line -->
<hr class="w-full border-gray-600">
<!-- Copyright notice -->
<div class="flex justify-center  items-center mt-4">
  <span class="text-gray-400">&copy; 2024 ILS Academy</span>
  <div class="h-6 w-px bg-gray-400 mx-4"></div> <!-- Vertical line -->
  <span class="text-gray-400">All rights reserved.</span>
</div>
</div>
