<footer class="flex flex-col md:flex-row justify-around items-center bg-[#29323F] text-white p-4 md:p-20">
 
  <div class="mb-6 md:mb-0">
    <h1 class="font-bold text-xl md:text-2xl">Logo Here</h1>
  </div>

  <div class="flex flex-col gap-10 md:flex-row">
    <div class="mr-8 mb-6 md:mb-0">
      <h3 class="font-semibold text-gray-500 mb-2">About ILS</h3>
      <p class="text-gray-400">Institution Information <br> Floor <br> Building <br> Place </p>
    </div>
    <div>
      <h3 class="font-semibold text-gray-500 mb-2">Contact Us</h3>
      <p class="text-gray-400">Call Us <br> Whatsapp</p>
    </div>
  </div>

</footer>

<!-- Additional content -->
<div class=" text-center bg-[#29323F]">
<!-- Horizontal line -->
<hr class="w-full border-gray-600">
<!-- Copyright notice -->
<div class="flex justify-center  items-center mt-4">
  <span class="text-gray-400">&copy; 2024 ILS Academy</span>
  <div class="h-6 w-px bg-gray-400 mx-4"></div> <!-- Vertical line -->
  <span class="text-gray-400">All rights are reserved</span>
</div>
</div>
