<div class="flex items-center justify-center min-h-screen bg-gray-50 p-14">
    <div class="max-w-md w-full space-y-8">
      <h2 class="text-center text-3xl font-extrabold text-gray-900">Password Reset</h2>
      <form (ngSubmit)="resetPassword()" #passwordResetForm="ngForm" class="mt-8 space-y-6">
        <input type="hidden" name="remember" value="true">
        <div class="rounded-md shadow-sm -space-y-px">
        
          <div>
            <label for="password" class="sr-only">Password</label>
            <input id="password" name="password" type="password" autocomplete="new-password" [(ngModel)]="password"
              required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="New Password">
          </div>
          <div>
            <label for="confirmPassword" class="sr-only">Confirm Password</label>
            <input id="confirmPassword" name="confirmPassword" type="password" autocomplete="new-password"
              [(ngModel)]="confirmPassword" required
              class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
              placeholder="Confirm Password">
          </div>
        </div>
  
        <div>
          <button type="submit"
            class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-[#2C66B8]  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Reset Password
          </button>
        </div>
      </form>
      <div *ngIf="showmsg" class="text-red-700">Passwords Does not match</div>
      <div *ngIf="error" class="text-red-700">Error Resetting Password Try again</div>
    </div>
  </div>
  