<div>
    <app-navbar></app-navbar>

    
    <div class="bg-[#EDF2F8]  flex flex-col-reverse   md:flex-row justify-between">
        
        <div class="box w-full sm:w-[630px] mb-4 sm:mb-0  flex justify-center ">
          <div class="flex justify-center  flex-col w-[400px] ">
            <h2 class="text-[#2C66B8] font-bold text-center  text-[40px] sm:text-left ">
                <span class="text-black font-bold">ILS Academy</span> 
                <br> Your Path To Success <br> In Kozhikode!</h2><br><br>
            <button class="bg-[#2C66B8]  p-4 w-[300px] rounded-md text-white">LEARN MORE ABOUT OUR COURSE</button>
          </div>
        </div>
        
        
        <div class="box  md:w-[630px]">
          <img src="../../../assets/Rectangle 20.png" alt="Your Image" >
        </div>
      </div>

      <div>
        <h1>About Us</h1>
        <div></div>
      </div>
      
      
</div>