<div>
    <app-navbar></app-navbar>

    
    <div class="bg-[#EDF2F8]  flex flex-col-reverse   md:flex-row justify-between">
        
        <div class="box w-full sm:w-[630px] mb-4 sm:mb-0  flex justify-center ">
          <div class="flex justify-center  flex-col w-[400px] ">
            <h2 class="text-[#2C66B8] font-bold text-center  text-[40px] sm:text-left ">
                <span class="text-black font-bold">ILS Academy</span> 
                <br> Your Path To Success <br> In Kozhikode!</h2><br><br>
            <button class="bg-[#2C66B8]  p-4 w-[300px] rounded-md text-white">LEARN MORE ABOUT OUR COURSE</button>
          </div>
        </div>
        
        
        <div class="box  md:w-[630px]">
          <img src="../../../assets/Rectangle 20.png" alt="Your Image" >
        </div>
      </div>

      <div class="flex justify-center items-center">
        <div class="p-6 md:p-12 sm:p-8 rounded-lg mt-8 md:mt-20 text-center">
            <h2 class="text-lg font-bold mb-4">About Us</h2>
            <div class="bg-blue-200 md:p-32 sm:p-6  text-center">
                <p class="text-center text-[15px] md:text-[20px]  p-10 md:text-center sm:text-sm">Whether you're a recent graduate or a seasoned professional, ILS Academy is here to <br>
                    support your journey. Join us and unlock endless possibilities! <br><br><br>
                    Located near the bustling medical college, ILS Academy is more than just a training <br>
                    center. We're a community dedicated to fostering talent and empowering individuals like <br>
                    you to thrive in fields such as Hospital Administration, Business Management, and <br>
                    Housekeeping Management. </p>
            </div>
        </div>
    </div>

    <div class="bg-white mt-8 p-6 pb-60 rounded-lg text-center">
      <h3 class="text-lg font-bold mb-16">Our Courses</h3>
  
      <div class="flex justify-center">
          <div class="grid grid-cols-1 md:grid-cols-3 md:gap-60 gap-8">
           
              <div class="bg-[#D9D9D9] p-4 rounded-tr-[45px] rounded-bl-[45px] md:p-8">
                  <h4 class="mb-2">🎓</h4>
                  <p class="font-semibold">Advanced Diploma in Hospital Administration and Business Management </p>
              </div>
  
             \
              <div class="bg-[#D9D9D9] p-4 rounded-tr-[45px] rounded-bl-[45px] md:p-8">
                  <h4 class="text-xl mb-2">🎓</h4>
                  <p class="font-semibold">Diploma in Hospital Administration</p>
              </div>
  
             
              <div class="bg-[#D9D9D9] p-4 rounded-tr-[45px] rounded-bl-[45px] md:p-8">
                  <h4 class="text-xl mb-2">🎓</h4>
                  <p class="font-semibold">Diploma in Hospital Administration </p>
              </div>
          </div>
      </div>
  </div>
  
  
    
      
      
</div>