<div class="w-screen">
  <!-- course1 -->
  <div class="bg-[#e4f0fb] w-full md:p-24 p-6 md:space-y-10 space-y-7">
    <h2 class="md:text-2xl text-xl font-bold poppins-regular-italic">Advanced Diploma in Hospital Administration & Business Management</h2>
    <h1 class="md:text-5xl text-[22px] text-[#2C66B8] ">
      Level Up Your Healthcare Career: <br> Advanced Diploma in Hospital <br>
      Administration & Business <br> Management
    </h1>
    <p class="md:text-lg  md:  poppins-regular">
      <b>Calling all healthcare professionals, administrators, and managers!</b> Aspire
      to lead the way in the dynamic healthcare industry? Our Advanced Diploma
      in Hospital Administration & Business Management equips you with the
      expertise to excel in leadership roles. You'll graduate with a powerful
      combo: in-depth healthcare administration knowledge and strong business
      management skills, giving you a competitive edge.
    </p>
  </div>
</div>
